## Модуль 1, домашнее задание
#### Автор: Вячеслав Барков

In [1]:
%load_ext sql
%config SqlMagic.displaycon = False

In [2]:
import json

In [3]:
with open('.secret') as f:
    data = json.load(f)
    user = data['user']
    password = data['password']
    server = data['server']
    db = data['db']

In [4]:
%sql postgresql://$user:$password@$server/$db

In [5]:
%%sql

SET
    search_path
TO
    shipping;

Done.

[]

## Задание 1.
Напишите запрос, который выбирает нам клиентов с типом “manufacturer” из городов с кодами 266 и 602. Нас интересует название клиента, его адрес, телефон и выручка. Результат отсортируйте в по коду города и в порядке убывания выручки по клиенту в этом городе. У кого из клиентов в городе с кодом 266 лучшая выручка?

In [6]:
%%sql

SELECT
	cust_name,
	address,
	phone,
	annual_revenue
FROM
	customer
WHERE
	cust_type = 'manufacturer'
	AND city_id IN (266, 602)
ORDER BY
	city_id,
	annual_revenue DESC;

4 rows affected.

[('Universal Products & Service', '2333 West Industrial Park Drive', '(812) 339-6783', 18355451),
 ('Ziebart', '2440 West 3rd Street', '(812) 336-7878', 15608160),
 ('Ziebart', '6754 Pearl Road', '(440) 845-6031', 44006667),
 ('A-Better Truck Cap & Hitch', '5340 Pearl Road', '(440) 885-7100', 20343876)]

**Ответ:** Лучшая выручка в городе с кодом 266 у клиента "Universal Products & Service"\
Можем получить ответ отдельным запросом:

In [7]:
%%sql

SELECT
	cust_name,
	address,
	phone,
	annual_revenue,
    city_id
FROM
	customer
WHERE
	cust_type = 'manufacturer'
	AND city_id = 266
ORDER BY
	annual_revenue DESC
LIMIT 1;

1 rows affected.

[('Universal Products & Service', '2333 West Industrial Park Drive', '(812) 339-6783', 18355451, 266)]

## Задание 2.
Напишите запрос, который покажет нам сумму годовой выручки всех клиентов по городам. В результате надо отобрать только те записи, где сумма выручки не менее 50 млн. долларов, а результат нужно отсортировать от максимальной выручки к минимальной. В каком городе (код города) у клиентов лучше всего идет бизнес?

In [8]:
%%sql

SELECT
	city_id,
	SUM(annual_revenue) AS revenue_sum
FROM
	customer
GROUP BY
	city_id
HAVING
	SUM(annual_revenue) >= 50000000
ORDER BY
	revenue_sum DESC;

10 rows affected.

[(602, Decimal('111951545')),
 (210, Decimal('80926202')),
 (604, Decimal('79257563')),
 (655, Decimal('73288881')),
 (688, Decimal('70623116')),
 (621, Decimal('70232280')),
 (495, Decimal('66829482')),
 (677, Decimal('62730814')),
 (291, Decimal('61982157')),
 (470, Decimal('58260764'))]

**Ответ:** Лучше всего бизнес идет в городе с кодом "602"

## Задание 3.
Напишите запрос, который показывает, сколько клиентов каждого типа есть у нашей транспортной компании. Отсортируйте результат в порядке возрастания численности клиентов по типам.

In [9]:
%%sql

SELECT
	cust_type,
	COUNT(cust_id) AS customers_count
FROM
	customer
GROUP BY
	cust_type
ORDER BY
	customers_count;

3 rows affected.

[('wholesaler', 22), ('retailer', 38), ('manufacturer', 40)]